#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}

#player_1_name , #player_2_name
{
    font-size: 18px;
    margin-top: 0%;
}